{% paginate collection.products by 8 %}

<div class="clearfix">
  <h2>{{ collection.title }}</h2>
  <div class="collection-desc rte">
    {{ collection.description }}
  </div>

  <!-- use the same product loop that's used in index.liquid -->
  {% for product in collection.products %}
    {% include 'product-loop' %}
  {% endfor %}
</div>

{% if paginate.pages > 1 %}
<div class="pagination">
  {{ paginate | default_pagination }}
</div>
{% endif %}

{% endpaginate %}